<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <!-- Reemplaza el contenido del <head> con el fragmento "head" del layout -->
    <head th:replace="~{layout/plantilla :: head}">
        <title>Carros</title>
    </head>

    <body>

        <!-- Inserta el encabezado reutilizable desde el layout -->
        <header th:replace="~{layout/plantilla :: header}"/>

        <!-- Carga el formulario para registrar un nuevo usuario desde un fragmento -->
        <section th:replace="~{registro/fragmentos :: nuevoUsuario}"/>

        <!-- Inserta el pie de página desde el layout -->
        <footer th:replace="~{layout/plantilla :: footer}"/>

    </body>
</html>